<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Login</h1>

    <div class="well">
      <form role="form" ng-submit="login()">
        <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>

        <div class="form-group">
          <label for="login_email">Email</label>
          <input type="text" class="form-control" id="login_email" ng-model="email" placeholder="ex. john@example.com" />
        </div>

        <div class="form-group">
          <label for="login_password">Password</label>
          <input type="password" class="form-control" id="login_password" ng-model="password" placeholder="ex. thisisnotgoogleplus" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>