<!DOCTYPE html>
<html ng-app="djangularApp">
<head>
  <title>Djangular</title>

  <base href="/" />

  {% include 'stylesheets.html' %}
</head>

<body>
  {% include 'navbar.html' %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12" ng-view=""></div>
    </div>
  </div>

  {% include 'javascripts.html' %}
</body>
</html>
